@import url("clean.css");

@font-face {
    font-family: '';  
    src: url('../fonts/');
}

@media (max-width: 1023px) { .desktop_only { display: none; } }
@media (max-width: 767px) { .tablet_only { display: none; } }
@media (min-width: 1024px) { .tablet_only { display: none; } }
@media (min-width: 768px) { .mobile_only { display: none; } }
@media (max-width: 767px) { .mobile_not { display: none; } }

.clear {
	clear: both;
}

* {
  -webkit-appearance: none;
  outline: none;
}

.clearfix:after {
	content: ' ';
	display: block;
	clear: both;
}



header {
	width: 940px;
	height: 120px;
	margin: 0 auto;
	.logo {
		display: block;
		float: left;
		width: 128px;
		height: 34px;
		background: url(../images/img/logo.png) no-repeat;
		background-size: 128px;
		margin-top: 35px;
		margin-right: 130px;
	}
	ul {
		float: left;
		margin-top: 50px;
		li {
			float: left;
			font-family: 'Josefin Sans Light', sans-serif;
			font-weight: 400;
			font-size: 12px;
			line-height: 1;
			margin-right: 38px;
			a {
				color: #4C4C4D;
				text-decoration: none;
			}
		}
	}
	.navigation-control {
		float: right;
		margin-top: 40px;
		.search-btn {
			display: block;
			width: 34px;
			height: 34px;
			margin-right: 12px;
			background: url(../images/img/btn_search@2x.png);
			background-size: 34px;
			float: left;
		}
		.menu-btn {
			display: block;
			width: 34px;
			height: 34px;
			background: url(../images/img/btn_menu@2x.png);
			background-size: 34px;
			float: left;
		}
	}
}

.navigation-menu {
	display: block;
	width: 0px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	background: #ffffff;
	overflow: hidden;
	transition: all .2s ease;
	&:after {
		content: '';
		display: block;
		position: fixed;
		width: 0px;
		height: 100vh;
		background: #ffffff;
		top: 0;
		right: 0;
		box-shadow: 0 0 50px 0 #333333;
		z-index: -1;
		transition: all .2s ease;
	}
	&.open {
		width: 400px;
		&:after {
			width: 400px;
		}
	}
	.nav-inner {
		display: block;
		width: 400px;
		box-sizing: border-box;
		padding: 120px 20px 0px 40px;
		position: relative;
		.close-button {
			display: block;
			width: 32px;
			height: 32px;
			position: absolute;
			top: 16px;
			right: 16px;
			background: url(../images/img/cancel.png);
			background-size: 32px;
			cursor: pointer;
		}
		.title {
			font-family: 'Josefin Sans', sans-serif;
			font-weight: 700;
			font-size: 24px;
			color: #4C4C4D;
			line-height: 1;
			margin-bottom: 20px;
		}
		ul {
			margin-bottom: 40px;
			li {
				font-family: 'Josefin Sans', sans-serif;
				font-weight: 400;
				font-size: 17px;
				line-height: 50px;
				opacity: .7;
				a {
					color: #4C4C4D;
					text-decoration: none;
				}
			}
		}
	}
}


.intro-slider {
	width: 100%;
	overflow: hidden;
	margin-bottom: 40px;
	.slider-container {
		width: 2400px;
		margin-left: calc(50% - 1200px);
		position: relative;
		.slide {
			display: flex;
			justify-content: center;
			align-items: center;
			// width: 460px;
			height: 460px;
			overflow: hidden;
			// margin-bottom: 21px;
			margin: 0 10px;
			box-shadow: 0 20px 40px 0 rgba(0,0,0,.13);
			img {
				display: block;
				&.width-aligner {
					max-width: 1920px;
					max-height: 100%;
				}
			}
		}
		.slick-prev {
			position: absolute;
			top: calc(100% + 50px);
			left: calc(50% - 440px);
			width: 30px;
			height: 30px;
			background: url(../images/img/arrow-left@2x.png);
			background-size: 30px;
			&:before {
				content: none;
			}
		}
		.slick-next {
			position: absolute;
			top: calc(100% + 50px);
			right: calc(50% - 440px);
			width: 30px;
			height: 30px;
			background: url(../images/img/arrow@2x.png);
			background-size: 30px;
			&:before {
				content: none;
			}
		}
	}
	.slide-info {
		display: block;
		width: 620px;
		height: 170px;
		margin: 0 auto;
		position: relative;
		top: -40px;
		background: #ffffff;
		box-sizing: border-box;
		padding: 0 40px;
		text-decoration: none;
		.slide-category {
			font-family: 'Quattrocento Sans', sans-serif;
			font-weight: 400;
			font-size: 12px;
			color: #4A4A4A;
			line-height: 1;
			text-transform: uppercase;
			position: relative;
			z-index: 1;
			display: table;
			margin: 0 auto;
			padding-top: 20px;
			margin-bottom: 20px;
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				bottom: 2px;
				height: 5px;
				width: calc(100% + 11px);
				z-index: -1;
				background: #E5F6D3;
			}
		}
		.slide-title {
			font-family: 'Josefin Sans Light', sans-serif;
			font-weight: 400;
			font-size: 30px;
			color: #4C4C4D;
			line-height: 36px;
			text-align: center;
		}
	}
}


.latest-stories {
	position: relative;
	overflow: hidden;
	.latest-stories_title {
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 400;
		font-size: 50px;
		color: #4C4C4D;
		line-height: 1;
		margin-left: calc(50% - 470px);
		margin-bottom: 4px;
	}
	.latest-stories_description {
		font-family: 'Quattrocento Sans', sans-serif;
		font-weight: 400;
		font-size: 14px;
		color: #989898;
		line-height: 1;
		margin-left: calc(50% - 470px);
		margin-bottom: 41px;
	}
	.latest-stories_view-all {
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 400;
		font-size: 14px;
		color: #4A90E2;
		line-height: 1;
		text-decoration: none;
		display: block;
		position: absolute;
		top: 13px;
		right: calc(50% - 470px);
		padding-right: 36px;
		padding-top: 7px;
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			width: 24px;
			height: 24px;
			background: url(../images/img/arrow-view-all.png) no-repeat;
			background-size: 24px;
		}
	}


	.latest-stories_container_1 {
		width: 1920px;
		margin-left: calc(50% - 950px);
		margin-bottom: 80px;
		.slick-prev {
			position: absolute;
			top: calc(100% + 20px);
			left: calc(50% - 480px);
			width: 30px;
			height: 30px;
			background: url(../images/img/arrow-left@2x.png);
			background-size: 30px;
			&:before {
				content: none;
			}
		}
		.slick-next {
			position: absolute;
			top: calc(100% + 20px);
			left: calc(50% - 420px);
			width: 30px;
			height: 30px;
			background: url(../images/img/arrow@2x.png);
			background-size: 30px;
			&:before {
				content: none;
			}
		}
		.latest-stories_item {
			float: left;
			margin-right: 20px;
			width: 460px;
			display: block;
			text-decoration: none;
			.image-container {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 460px;
				height: 310px;
				overflow: hidden;
				margin-bottom: 21px;
				box-shadow: 0 20px 40px 0 rgba(0,0,0,.13);
				img {
					display: block;
					&.width-aligner {
						max-width: 1920px;
						max-height: 100%;
					}
				}
			}
			.latest-stories_item_category {
				font-family: 'Quattrocento Sans', sans-serif;
				font-weight: 400;
				font-size: 12px;
				color: #4A4A4A;
				line-height: 1;
				text-transform: uppercase;
				position: relative;
				float: left;
				margin-bottom: 12px;
				a {
					text-decoration: none;
					color: #4A4A4A;
					display: inline;
				}
				&:before {
					content: '';
					display: block;
					position: absolute;
					left: 0;
					bottom: 2px;
					height: 5px;
					width: calc(100% + 11px);
					z-index: -1;
				}
			}
			&.category-77 {
				.latest-stories_item_category {
					&:before {
						background: #FDEDD3;
					}
				}
			}
			&.category-66 {
				.latest-stories_item_category {
					&:before {
						background: #7ED321;
						opacity: .2;
					}
				}
			}
			&.category-55 {
				.latest-stories_item_category {
					&:before {
						background: #F8E71C;
						opacity: .2;
					}
				}
			}
			&.category-44 {
				.latest-stories_item_category {
					&:before {
						background: #D0021B;
						opacity: .2;
					}
				}
			}
			.latest-stories_item_title {
				font-family: 'Josefin Sans', sans-serif;
				font-weight: 400;
				font-size: 26px;
				color: #4C4C4D;
				line-height: 38px;
				text-decoration: none;
			}
		}
	}


	.latest-stories_container_2 {
		width: 100%;
		background: rgba(216,216,216,.2);
		padding-top: 80px;
		padding-bottom: 80px;
		margin-bottom: 80px;
		.stories_container_2_inner {
			width: 1600px;
			margin-left: calc(50% - 790px);
			.slick-prev {
				position: absolute;
				top: calc(100% + 30px);
				left: calc(50% - 480px);
				width: 30px;
				height: 30px;
				background: url(../images/img/arrow-left@2x.png);
				background-size: 30px;
				&:before {
					content: none;
				}
			}
			.slick-next {
				position: absolute;
				top: calc(100% + 30px);
				left: calc(50% - 420px);
				width: 30px;
				height: 30px;
				background: url(../images/img/arrow@2x.png);
				background-size: 30px;
				&:before {
					content: none;
				}
			}
			.latest-stories_item {
				float: left;
				width: 300px;
				margin-right: 20px;
				.latest-stories_item_category {
					font-family: 'Quattrocento Sans', sans-serif;
					font-weight: 400;
					font-size: 12px;
					color: #4A4A4A;
					line-height: 1;
					text-transform: uppercase;
					position: relative;
					float: left;
					margin-bottom: 9px;
					a {
						text-decoration: none;
						color: #4A4A4A;
						display: inline;
					}
					&:before {
						content: '';
						display: block;
						position: absolute;
						left: 0;
						bottom: 2px;
						height: 5px;
						width: calc(100% + 11px);
						z-index: -1;
					}
				}
				&.category-66 {
					.latest-stories_item_category {
						&:before {
							background: #7ED321;
							opacity: .2;
						}
					}
				}
				&.category-55 {
					.latest-stories_item_category {
						&:before {
							background: #F8E71C;
							opacity: .2;
						}
					}
				}
				&.category-44 {
					.latest-stories_item_category {
						&:before {
							background: #D0021B;
							opacity: .2;
						}
					}
				}
				.latest-stories_item_title {
					font-family: 'Josefin Sans', sans-serif;
					font-weight: 400;
					font-size: 17px;
					color: #4C4C4D;
					line-height: 28px;
					text-decoration: none;
					display: block;
					margin-bottom: 20px;
				}
				.author {
					img {
						display: block;
						float: left;
						width: 40px;
						height: 40px;
						margin-right: 20px;
					}
					.author-meta {
						display: block;
						float: left;
						.name {
							font-family: 'Josefin Sans', sans-serif;
							font-weight: 700;
							font-size: 16px;
							color: #7E7E7E;
							line-height: 1;
							text-transform: uppercase;
							padding-top: 3px;
							padding-bottom: 5px;
						}
						.date {
							font-family: 'Quattrocento Sans', sans-serif;
							font-weight: 400;
							font-size: 14px;
							color: #989898;
							line-height: 1;
						}
					}
				}
			}
		}
	}


	.latest-stories_container_3 {
		width: 1920px;
		margin-left: calc(50% - 950px);
		margin-bottom: 80px;
		.slick-prev {
			position: absolute;
			top: calc(100% + 30px);
			left: calc(50% - 480px);
			width: 30px;
			height: 30px;
			background: url(../images/img/arrow-left@2x.png);
			background-size: 30px;
			&:before {
				content: none;
			}
		}
		.slick-next {
			position: absolute;
			top: calc(100% + 30px);
			left: calc(50% - 420px);
			width: 30px;
			height: 30px;
			background: url(../images/img/arrow@2x.png);
			background-size: 30px;
			&:before {
				content: none;
			}
		}
		.latest-stories_item {
			width: 460px;
			margin-right: 20px;
			float: left;
			img {
				display: block;
				float: left;
				width: 140px;
				height: 140px;
				margin-right: 20px;
				box-shadow: 0 20px 40px 0 rgba(0,0,0,.05);
			}
			.post-meta {
				width: 300px;
				float: left;
				.latest-stories_item_category {
					font-family: 'Quattrocento Sans', sans-serif;
					font-weight: 400;
					font-size: 12px;
					color: #4A4A4A;
					line-height: 1;
					text-transform: uppercase;
					position: relative;
					float: left;
					margin-bottom: 20px;
					a {
						text-decoration: none;
						color: #4A4A4A;
						display: inline;
					}
					&:before {
						content: '';
						display: block;
						position: absolute;
						left: 0;
						bottom: 2px;
						height: 5px;
						width: calc(100% + 11px);
						z-index: -1;
					}
				}
				.latest-stories_item_title {
					font-family: 'Josefin Sans', sans-serif;
					font-weight: 400;
					font-size: 24px;
					color: #4C4C4D;
					line-height: 35px;
					text-decoration: none;
					display: block;
				}
			}
			&.category-77 {
				.latest-stories_item_category {
					&:before {
						background: #FDEDD3;
					}
				}
			}
			&.category-66 {
				.latest-stories_item_category {
					&:before {
						background: #7ED321;
						opacity: .2;
					}
				}
			}
			&.category-55 {
				.latest-stories_item_category {
					&:before {
						background: #F8E71C;
						opacity: .2;
					}
				}
			}
			&.category-44 {
				.latest-stories_item_category {
					&:before {
						background: #D0021B;
						opacity: .2;
					}
				}
			}
		}
	}


	.latest-stories_container_4 {
		width: 1440px;
		margin-left: calc(50% - 710px);
		margin-bottom: 80px;
		.slick-prev {
			position: absolute;
			top: calc(100% + 30px);
			left: calc(50% - 480px);
			width: 30px;
			height: 30px;
			background: url(../images/img/arrow-left@2x.png);
			background-size: 30px;
			&:before {
				content: none;
			}
		}
		.slick-next {
			position: absolute;
			top: calc(100% + 30px);
			left: calc(50% - 420px);
			width: 30px;
			height: 30px;
			background: url(../images/img/arrow@2x.png);
			background-size: 30px;
			&:before {
				content: none;
			}
		}
		.latest-stories_item {
			display: block;
			float: left;
			width: 220px;
			margin-right: 20px;
			img {
				display: block;
				width: 220px;
				// box-shadow: 0 20px 40px 0 rgba(0,0,0,.13);
			}
		}
	}
}


.newsletter-block {
	width: 100%;
	height: 240px;
	background: url(../images/img/newsletter-bg-meta-left.png) no-repeat 0px calc(100% - 16px), url(../images/img/newsletter-bg-meta-right.png) no-repeat 100% 50%, linear-gradient(to right, #4A90E2, #81C3F3);
	margin-bottom: 80px;
	.newsletter-title {
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 400;
		font-size: 30px;
		color: #FFFFFF;
		line-height: 37px;
		padding-left: calc(50% - 410px);
		padding-top: 87px;
		float: left;
	}
	form {
		float: right;
		margin-top: 100px;
		margin-right: calc(50% - 410px);
		position: relative;
		input[type="text"] {
			display: block;
			width: 400px;
			background: none;
			border: none;
			border-bottom: 1px solid #ffffff;
			color: #FFFFFF; 
			font-family: 'Quattrocento Sans', sans-serif; 
			font-style: italic; 
			font-size: 16px;
			line-height: 34px;
			padding: 0;
			&::-moz-placeholder { color: #FFFFFF; }
			&::-webkit-input-placeholder { color: #FFFFFF; }
			&:-ms-input-placeholder { color: #FFFFFF; }
			&::-ms-input-placeholder { color: #FFFFFF; }
			&::placeholder { color: #FFFFFF; }
		}
		input[type="submit"] {
			display: block;
			width: 15px;
			height: 34px;
			background: url(../images/img/ic-back@2x.png) no-repeat 50% 50%;
			background-size: 15px;
			border: none;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}


.all-topics {
	width: 940px;
	margin: 0 auto;
	margin-bottom: 80px;
	.all-topics_title {
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 400;
		font-size: 50px;
		color: #4C4C4D;
		line-height: 1;
		margin-bottom: 4px;
	}
	.all-topics_description {
		font-family: 'Quattrocento Sans', sans-serif;
		font-weight: 400;
		font-size: 14px;
		color: #989898;
		line-height: 1;
		margin-bottom: 41px;
	}
	.all-topics_container {
		position: relative;
		padding-bottom: 65px;
		.all-topics_container_left_col {
			width: 460px;
			float: left;
			margin-right: 20px;
		}
		.all-topics_container_right_col {
			width: 460px;
			float: left;
		}
		.topic-item {
			margin-bottom: 43px;
			img {
				display: block;
				width: 100%;
				margin-bottom: 20px;
			}
			.topic-item_category {
				font-family: 'Quattrocento Sans', sans-serif;
				font-weight: 400;
				font-size: 12px;
				color: #4A4A4A;
				line-height: 1;
				text-transform: uppercase;
				position: relative;
				float: left;
				margin-bottom: 10px;
				&:before {
					content: '';
					display: block;
					position: absolute;
					left: 0;
					bottom: 2px;
					height: 5px;
					width: calc(100% + 11px);
					z-index: -1;
				}
			}
			&.topic-item-1 {
				.topic-item_category {
					&:before {
						background: #FAE1E4;
					}
				}
			}
			&.topic-item-2 {
				.topic-item_category {
					&:before {
						background: #F3EEE9;
					}
				}
			}
			&.topic-item-3 {
				.topic-item_category {
					&:before {
						background: #F6E0FB;
					}
				}
			}
			&.topic-item-4 {
				.topic-item_category {
					&:before {
						background: #FDEDD3;
					}
				}
			}
			.topic-item_title {
				font-family: 'Josefin Sans', sans-serif;
				font-weight: 400;
				font-size: 24px;
				color: #4C4C4D;
				line-height: 35px;
				text-decoration: none;
				display: block;
			}
		}
		.all-topics_load-more {
			font-family: 'Josefin Sans', sans-serif;
			font-weight: 400;
			font-size: 14px;
			color: #4A90E2;
			line-height: 1;
			text-decoration: none;
			width: 106px;
			display: block;
			position: absolute;
			bottom: 0;
			left: calc(50% - 53px);
			padding-top: 7px;
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				width: 24px;
				height: 24px;
				background: url(../images/img/arrow-load-more.png) no-repeat;
				background-size: 24px;
			}
		}
	}
}


footer {
	width: 100%;
	background: rgba(216,216,216,.2);
	.footer-container {
		width: 940px;
		margin: 0 auto;
		padding-top: 95px;
		padding-bottom: 80px;
		.main-col {
			float: left;
			margin-right: 40px;
			.logo {
				display: block;
				float: left;
				width: 128px;
				height: 34px;
				background: url(../images/img/logo.png) no-repeat;
				background-size: 128px;
				margin-right: 60px;
			}
			.social {
				float: left;
				padding-top: 10px;
				margin-bottom: 37px;
				a {
					display: block;
					float: left;
					width: 26px;
					height: 26px;
					&.twitter {
						background: url(../images/img/002-twitter-logo-silhouette.png) no-repeat 50% 50%;
						background-size: 26px;
						margin-right: 35px;
					}
					&.instagram {
						background: url(../images/img/002-instagram-logo.png) no-repeat 50% 50%;
						background-size: 21px;
						margin-right: 30px;
					}
					&.facebook {
						background: url(../images/img/002-facebook-logo.png) no-repeat 50% 50%;
						background-size: 14px;
					}
				}
			}
			ul {
				display: block;
				width: 190px;
				float: left;
				li {
					font-family: 'Josefin Sans', sans-serif;
					font-weight: 400;
					font-size: 17px;
					line-height: 50px;
					opacity: .7;
					a {
						color: #4C4C4D;
						text-decoration: none;
					}
				}
			}
		}

		.newsletter-col {
			float: left;
			padding-left: 44px;
			padding-right: 51px;
			position: relative;
			.newsletter-col_title {
				font-family: 'Josefin Sans', sans-serif;
				font-weight: 400;
				font-size: 26px;
				color: #4A90E2;
				line-height: 30px;
				width: 200px;
				margin-bottom: 14px;
				margin-top: 10px;
			}
			.newsletter-col_description {
				font-family: 'Josefin Sans', sans-serif;
				font-weight: 400;
				font-size: 17px;
				color: #4C4C4D;
				line-height: 28px;
				width: 200px;
				margin-bottom: 40px;
				opacity: .7;	
			}
			form {
				input[type="text"] {
					display: block;
					width: 200px;
					background: none;
					border: none;
					border-bottom: 1px solid #C2C2C2;
					color: #6B6B6B; 
					font-family: 'Quattrocento Sans', sans-serif; 
					font-style: italic; 
					font-size: 16px;
					line-height: 34px;
					padding: 0;
					margin-bottom: 50px;
					opacity: .5;
					&::-moz-placeholder { color: #6B6B6B; }
					&::-webkit-input-placeholder { color: #6B6B6B; }
					&:-ms-input-placeholder { color: #6B6B6B; }
					&::-ms-input-placeholder { color: #6B6B6B; }
					&::placeholder { color: #6B6B6B; }
				}
				input[type="submit"] {
					display: block;
					width: 200px;
					height: 40px;
					background: #4A90E2;
					border: none;
					border-radius: 4px;
					font-family: 'Josefin Sans', sans-serif;
					font-weight: 700;
					font-size: 13px;
					color: #FFFFFF;
					padding: 0;
					margin-bottom: 37px;
				}
			}
			.privacy {
				display: block;
				font-family: 'Josefin Sans', sans-serif;
				font-weight: 400;
				font-size: 13px;
				color: #4C4C4D;
				line-height: 1;
				opacity: .3;
				a {
					color: #4C4C4D;
				}
			}
			&:before {
				content: '';
				display: block;
				width: 1px;
				height: 271px;
				background: #D8D8D8;
				position: absolute;
				left: 0;
				bottom: 0;
			}
			&:after {
				content: '';
				display: block;
				width: 1px;
				height: 271px;
				background: #D8D8D8;
				position: absolute;
				right: 0;
				bottom: 0;
			}
		}

		.copyright-col {
			font-family: 'Josefin Sans', sans-serif;
			font-weight: 400;
			font-size: 13px;
			color: #4C4C4D;
			line-height: 28px;
			opacity: .3;
			width: 195px;
			float: left;
			padding-top: 90px;
			padding-left: 30px;
		}
	}
}


.overlay {
	z-index: 5;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000000;
	opacity: 0.6;
	cursor: pointer;
  display: none;
}





.single-post {
	main {
		overflow: hidden;
		article {
			width: 940px;
			margin: 0 auto;
			margin-top: 50px;
			margin-bottom: 50px;
			.breadcrumbs {
				margin-bottom: 30px;
				&:after {
					content: '';
					display: block;
					clear: both;
				}
				&>span {
					margin-right: 10px;
				}
				span {
					font-family: 'Josefin Sans', sans-serif;
					font-weight: 400;
					font-size: 14px;
					line-height: 1;	
					display: block;
					float: left;
					&.breadcrumbs__current {
						display: inline-block;
						width: 200px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}		
					a {
						color: #4A90E2;
						text-decoration: none;
					}
				}
			}
			h1 {
				font-family: 'Josefin Sans', sans-serif;
				font-weight: 400;
				font-size: 50px;
				color: #4C4C4D;
				line-height: 60px;
				margin-bottom: 10px;
			}
			.author-meta {
				margin-bottom: 10px;
				position: relative;
				.author-name {
					float: left;
					font-family: 'Josefin Sans', sans-serif;
					font-weight: 700;
					font-size: 14px;
					color: #7E7E7E;
					line-height: 1;
					text-transform: uppercase;
					margin-right: 10px;
					padding-right: 10px;
					cursor: pointer;
					&:hover {
						color: rgba(126,126,126,.6);
						.author-description {
							display: block;
						}
					}
					.author-description {
						display: none;
						position: absolute;
						top: 25px;
						left: 0;
						width: 300px;
						background: #ffffff;
						border-radius: 9px;
				    padding: 15px;
				    border: 1px solid #DDD;
				    box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);
				    font-family: 'Josefin Sans', sans-serif;
						font-weight: 400;
						font-size: 14px;
						color: #4C4C4D;
						line-height: 18px;
						text-transform: none;
						z-index: 1;
						&:after {
							content: '';
							display: block;
							width: 100%;
							height: 30px;
							position: absolute;
							top: -25px;
							left: 0;
						}
						&:before {
							content: '';
							display: block;
							width: 16px;
							height: 16px;
							border: 1px solid #DDD;
							background: #ffffff;
							position: absolute;
							top: -8px;
							left: 25px;
							transform: rotate(-45deg);
							border-left: none;
							border-bottom: none;
						}
					}
				}
				.medical-revision {
					float: left;
					font-family: 'Josefin Sans', sans-serif;
					font-weight: 400;
					font-size: 14px;
					color: #4A90E2;
					line-height: 1;
				}
			}
			.date {
				font-family: 'Josefin Sans', sans-serif;
				font-weight: 400;
				font-size: 14px;
				color: #4C4C4D;
				line-height: 1;
			}
			.entry-content {
				width: 620px;
				float: left;
				margin-top: 40px;
				margin-right: 20px;
				font-family: 'Josefin Sans', sans-serif;
				line-height: 26px;
				p {
					margin-bottom: 26px;
				}
				// .entry-content-img {
				// 	float: left;
				// 	margin-right: 20px;
				// 	margin-bottom: 20px;
				// 	img {
				// 		display: block;
				// 	}
				// }
			}
			.sidebar {
				width: 300px;
				float: left;
				.widget-item {
					ul {
						li {
							margin-bottom: 15px;
						}
					}
				}
			}
		}
		.related_posts {
			.related_posts_title {
				font-family: 'Josefin Sans', sans-serif;
				font-weight: 400;
				font-size: 30px;
				color: #4C4C4D;
				line-height: 1;
				margin-left: calc(50% - 470px);
				margin-bottom: 20px;
			}
			.related_posts_container {
				width: 1920px;
				margin-left: calc(50% - 950px);
				margin-bottom: 80px;
				.slick-prev {
					position: absolute;
					top: calc(100% + 20px);
					left: calc(50% - 480px);
					width: 30px;
					height: 30px;
					background: url(../images/img/arrow-left@2x.png);
					background-size: 30px;
					&:before {
						content: none;
					}
				}
				.slick-next {
					position: absolute;
					top: calc(100% + 20px);
					left: calc(50% - 420px);
					width: 30px;
					height: 30px;
					background: url(../images/img/arrow@2x.png);
					background-size: 30px;
					&:before {
						content: none;
					}
				}
				.related_posts_item {
					float: left;
					margin-right: 20px;
					width: 460px;
					text-decoration: none; 
					.image-container {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 460px;
						height: 310px;
						overflow: hidden;
						margin-bottom: 21px;
						box-shadow: 0 20px 40px 0 rgba(0,0,0,.13);
						img {
							display: block;
							&.width-aligner {
								max-width: 1920px;
								max-height: 100%;
							}
						}
					}
					.date {
						font-family: 'Josefin Sans', sans-serif;
						font-weight: 400;
						font-size: 14px;
						color: #4C4C4D;
						line-height: 1;
					}
					.related_posts_item_title {
						font-family: 'Josefin Sans', sans-serif;
						font-weight: 400;
						font-size: 26px;
						color: #4C4C4D;
						line-height: 38px;
						text-decoration: none;
					}
				}
			}
		}
	}
}









































